{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "flow-vars"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    __SITE_ENTRY__: true
  },
  "rules": {
    "max-len": 0,
    "no-duplicate-imports": 0,
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "import/no-duplicates": 2
  }
}
